# OS / editor
.DS_Store
.idea/
.vscode/

# Env files
.env
*.local

# Python
__pycache__/
*.pyc

# Node
node_modules/
dist/

# Backend build artifacts
backend/lambda.zip
backend/package/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
